* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-size: 16px;
}

body {
  font-family: 'Exo 2', sans-serif;
  color: #5a5a5a;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
}

button[type=button] {
  border: none;
  outline: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.title {
  color: #17528e;
  font-size: 50px;
}

.button {
  font-size: 20px;
  color: #17528e;
  padding: 20px 60px;
  background: #fff;
  border-radius: 28px;
  text-transform: uppercase;
  font-weight: bold;
}

.title {
  color: #17528e;
  font-size: 50px;
  margin-bottom: 75px;
}