.footer {
  background: url(../../img/bg__foo.png) center center no-repeat;
  min-height: 240px;
}

.footer__container {
  min-height: 240px;
  flex-direction: row;
}

.footer__text, .footer__desc, .footer__title {
  display: inline-block;
  color: #fff;
  font-size: 50px;
}

.footer__text {
  margin-right: 54px;
}

.footer__title {
  font-weight: bold;
}

.footer__button {
  margin-bottom: 0;
}