.footer {
  background: url(../../img/bg__foo.png) center center / cover no-repeat;
}

.footer__container {
  padding: 3.75rem 0;
  flex-direction: row;

  @include tablets {
    flex-direction: column;
  }
}

.footer__text, .footer__desc, .footer__title {
  display: inline-block;
  color: #fff;
  font-size: 3.125rem;

  @include tablets {
    font-size: 1rem;
  }
}

.footer__text {
  margin-right: 3.375rem;

  @include tablets {
    margin-right: 0;
    margin-bottom: 2rem;
  }
}

.footer__title {
  font-weight: bold;
}

.footer__button {
  margin-bottom: 0;
}