.skills, .skills__container {
  min-height: 650px;
}

.skills {
  background-color: $light-blue;
}

.skills__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}

.skills__item {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  cursor: pointer;
}

.skills__headline {
  color: $blue;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.skills__desc {
  line-height: 1.6em;
}

.skills__img {
  position: relative;
  width: 139px;
  height: 139px;
  background-image: url(../../img/sprite.png);
  background-position: 15px 28px;
  background-repeat: no-repeat;
  border-radius: 100%;
  transition: background-color 0.1s;
  /* transition: background-position 0.1s; */
}

.skills__img:hover {
  background-color: $blue;
  background-position: 15px -110px;
  transition: background-color 0.1s;
  /* transition: background-position 0.1s; */
}


.skills__img::before {
  content: "";
  position: absolute;
  width: 137px;
  height: 135px;
  border: 2px solid $blue;
  border-radius: 100%;
  transform: translate(-50%, 0%);
}


.skills__img_design {
  background-position: -160px 35px;
}

.skills__img_design:hover {
  background-position: -160px -107px;
}

.skills__img_dev {
  background-position: -340px 29px;
}

.skills__img_dev:hover {
  background-position: -340px -101px;
}