.skills__container {
  padding: 6.25rem 0;
  
  @include tablets {
    max-width: 95%;
  }

  @include phones {
    padding: 4.25rem 0;
  }
}

.skills {
  background-color: $light-blue;
}

.skills__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;

  @include tablets {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
}

.skills__item {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  cursor: pointer;
}

.skills__headline {
  color: $blue;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1.875rem;
}

.skills__desc {
  line-height: 1.6em;
}

.skills__img {
  position: relative;
  width: 8.6875rem;
  height: 8.6875rem;
  background-image: url(../../img/sprite.png);
  background-position: -4.5% -21%;
  background-repeat: no-repeat;
  border-radius: 100%;
  transition: background-color 0.1s;
  /* transition: background-position 0.1s; */

  @include laptop {
    background-position: -3% -17%;
  }
}

.skills__img:hover {
  background-color: $blue;
  background-position: 15px -110px;
  transition: background-color 0.1s;
  /* transition: background-position 0.1s; */
}


.skills__img::before {
  content: "";
  position: absolute;
  width: 8.5625rem;
  height: 8.4375rem;
  border: 2px solid $blue;
  border-radius: 100%;
  transform: translate(-50%, 0%);

  @include phones {
    width: 7.6rem;
    height: 7.6rem;
  }
}


.skills__img_design {
  background-position: -160px 35px;
}

.skills__img_design:hover {
  background-position: -160px -107px;
}

.skills__img_dev {
  background-position: -340px 29px;
}

.skills__img_dev:hover {
  background-position: -340px -101px;
}